<form [formGroup]="userForm">

    <div class="container">
        <mat-form-field>
            <input matInput placeholder="nome" formControlName="nome" required>
            <mat-error *ngIf="this.userForm.controls.nome.invalid">{{getErrorMessageNome()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field>
            <input matInput placeholder="cognome" formControlName="cognome" required>
            <mat-error *ngIf="this.userForm.controls.cognome.invalid">{{getErrorMessageCognome()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field>
            <input matInput placeholder="email" formControlName="email" required>
            <mat-error *ngIf="this.userForm.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field>
            <input matInput placeholder="password" formControlName="password" required>
            <mat-error *ngIf="this.userForm.controls.password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field>
            <input matInput placeholder="username" formControlName="username" required>
            <mat-error *ngIf="this.userForm.controls.username.invalid">{{getErrorMessageUsername()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="container">
        <mat-form-field>
            <input matInput placeholder="telefono" formControlName="telefono" required>
            <mat-error *ngIf="this.userForm.controls.telefono.invalid">{{getErrorMessageTelefono()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="codice fiscale" formControlName="codiceFiscale" required>
            <mat-error *ngIf="this.userForm.controls.codiceFiscale.invalid">{{getErrorMessageCodiceFiscale()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="partita iva" formControlName="partitaIva">
        </mat-form-field>
    </div>
    <div class="container">
            <button mat-stroked-button color="primary" (click)="doRegister()">Sign In</button>
            <button mat-stroked-button color="primary" (click)="goLoginView()">back</button>
    </div>
</form>