<mat-grid-list cols="2">
        <mat-grid-tile
            *ngFor="let carta of carte"
            colspan="1"
            rowspan="1">

            <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{carta.title}}</mat-card-title>
                      <mat-card-subtitle>{{carta.descrizione}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="carta.imageUrl" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>

        </mat-grid-tile>
      </mat-grid-list>

