<div class="container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{getErrorEmailMessage()}}</mat-error>
    </mat-form-field>
  </div>
<div class="container">
    <mat-form-field>
      <input matInput placeholder="Enter your password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getErrorPasswordMessage()}}</mat-error>
    </mat-form-field>
</div>
<div class="container">
<button mat-stroked-button color="primary" (click)="provaLog()">Log In</button>
<button mat-stroked-button color="primary" (click)="goRegistrationView()">Register</button>
</div>