<mat-sidenav-container>
    <mat-sidenav #drawer>
        <button mat-button (click)="goPrenotaAttivita()">Prenota la tua attività</button>
        <button mat-button (click)="goVisualizzaAttivita()">Visualizza le tue attività passate</button>
        <button mat-button (click)="goImpostazioni()">Impostazioni Account</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-raised-button (click)="drawer.toggle()">Menu</button>
    </mat-sidenav-content>
</mat-sidenav-container>