.navbar {
    justify-content: space-between;
}
a {
    color: white;
    padding-right: 3rem;
    text-decoration: none;
}

a:hover 
{
     color: lightgray; 
     text-decoration:none; 
     cursor:pointer;  
}