<mat-toolbar color="primary" class="navbar">
    <div>Gestionale</div>
    <div>
        <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
        <a [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" >login</a>
    </div>
</mat-toolbar>
